@tailwind base;
@tailwind components;
@tailwind utilities;


/* small container */
.container { max-width: 1100px; margin: 0 auto; }


/* globals.css */

.hero-gradient {
  background: linear-gradient(135deg, #4f46e5, #a83bf6);
}

.hero-warm {
  background: linear-gradient(135deg, #f59e0b, #ef4444);
}

.btn-gradient-primary {
  background: linear-gradient(to right, #4f46e5, #3b82f6);
  color: white;
}

.btn-gradient-warm {
  background: linear-gradient(to right, #f59e0b, #ef4444);
  color: white;
}
